[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "multiAssetOptions"]
	path = multiAssetOptions
	url = https://github.com/cran/multiAssetOptions
	shallow = true
	registered = true
